@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  /* gray-300 */
  --background: #d1d5db;

  /* green-600 */
  --foreground: #057a55;

  /* blue-800 */
  --secondary: #1e429f;

  /* Personalized Green */
  --tertiary: #50c878;

  /* Extra - Inverted Color */
  --extraColor: black;
}

.dark {
  /* Personalized */
  --background: #71797e;

  /* gray-800 */
  --foreground: #1f2937;

  /* gray-600 */
  --secondary: #4b5563;

  /* gray-600 */
  --tertiary: #4b5563;

  /* Extra - Inverted Color */
  --extraColor: white;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
