@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffe4c4;
  --foreground: #171717;
  --secondary: #003fff;
  --tertiary: #50c878;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #71797e;
    --foreground: #ededed;
    --secondary: #003fff;
    --tertiary: #355e3b;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
